* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4F7661;
    --gradient-first-color: #ffa800;
    --secondary-color: #C2DCD0;
    --third-color: #DAEEE5;
    --fourth-color: #8EB2A2;
    --dark-color: #000;
    --bg-color: #fff;
    --fs: 16px;
    --fw: 400;
    --lh: 1.5;
    --gw: 15px;
    --title-text: "Tenor Sans";
    --discription-text: "Public Sans";

}

body {
    background-color: var(--bg-color);
    color: var(--dark-color);
    font-family: var(--discription-text);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul,
li,
i,
a {
    padding-left: 0;
    list-style: none;

}

ul {
    display: flex;
    gap: 20px;
}



i {
    color: #4F7661;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: 400;
}

.top-header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
    background-color: #c2dcd0;
    padding: 20px;
    display: flex;
  
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
    width: 100%;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: var(--gw);
    padding-right: var(--gw);
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}



.social-icons ul,
.contact-info ul {
    display: flex;
    gap: 25px;
    /* Icons ke beech space */
}


.contact-info {
    font-size: 15px;
    color: #4F7661;
}

.contact-info i {
    margin-right: 5px;
}
