* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

h1:hover::after {
    content: "1. image ";
    color: rgb(0, 19, 104);
    cursor: pointer;
}

.imgtwo {
    content: "2. image ";
    color: rgb(22, 22, 22);
    cursor: pointer;
}

.img-box {
    height: 400px;
    width: 500px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

}

.img-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-box h2 {
    opacity: 0;
    position: absolute;
    color: rgb(243, 237, 237);
    z-index: 99;
    transition: 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;


}

.img-box:hover h2 {
    opacity: 1;
    position: absolute;
    /* background-color: transparent; */
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.img-box::before {
    transition: all 1s ease;
    content: "";
    text-align: center;
    color: rgb(238, 238, 238);
    font-size: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.img-box:hover::before {
    width: 470px;
    height: 370px;
    z-index: 1;
}

.img-box:hover:after {
    content: '';
    position: absolute;
    height: 70%;
    width: 70%;
}

.img-box2 {
    height: 500px;
    width: 750px;
    background-color: black;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.img-box2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

h3 {
    font-size: 200px;
}

.content {
    background-color: rgba(64, 67, 66, 0.5);
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    padding: 20px;
    transition: all 1s;
    color: azure;

}

.img-box2:hover .content {
    left: 0;
}

.img-box3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-inner {
    border: 2px solid white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 2s ease-in-out;
}

.img-box3:hover .box-inner {
    width: 90%;
    height: 90%;
    opacity: 1;
    border: 4px groove white;
}

.img-box3:hover::before {
    transform: scale(1.5);
    opacity: 0.5;
}

.img-box3:hover::after {
    opacity: 1;
}

.img-box3 {
    position: relative;
    height: 400px;
    width: 500px;
    margin: 20px auto;
    background-size: cover;
    overflow: hidden;
    background-color: black;
}

.box-i2 {
    position: absolute;
    opacity: 0;
    transition: 2s ease-in;
    transition-delay: 1s;
    color: white;
}

.img-box3:hover .box-i2 {
    opacity: 1;
}

.img-box3::after {
    position: absolute;
    content: '';
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 2s ease;
    opacity: 0;
}

.img-box::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: scale(1.5);
    z-index: 1;
    opacity: 1;
}

.img-box3 img {
    height: 100%;
    width: 100%;
}


/* style */
.three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5px;
    padding-bottom: 20px;
    position: relative;
    margin: 20px auto;

}

.three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

.three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}

/* 2select */
.thirteen h1 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    margin: auto;
    border: 2px solid #222;
    padding: 5px 11px 3px 11px;
}

.thirteen h1:before,
.thirteen h1:after {
    background-color: #c50000;
    position: absolute;
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    bottom: 12px;
}

.thirteen h1:before {
    left: -20px;
}

.thirteen h1:after {
    right: -20px;
}

/* button */
.button {
    background-color:rgb(51, 0, 255);
     border-radius: 7px;
     border: 2px solid transparent;
     margin: 50px;
     box-shadow: 8px 8px 20px 0px #15131359;
     padding: 10px 40px;
     line-height: 20px;
     cursor: pointer;
     transition: all 0.3s;
     color: white;
     font-size: 18px;
     font-weight: 500;
   }
   
   .button:hover {
     box-shadow: none;
     opacity: 80%;
   }

   .button2 {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
     border-radius: 50px 50px;
     border: 2px solid transparent;
     margin: 50px;
     box-shadow: 4px 5px 5px 4px #25242459;
     padding: 10px 40px;
     line-height: 20px;
     cursor: pointer;
     transition: all 0.3s;
     color: rgb(0, 0, 0);
     font-size: 18px;
     
   }
   
   .button2:hover {
     box-shadow: none;
     opacity: 100%;
   }

   .buttonbox{
    background-color:rgb(157, 148, 192);
     border-radius: 0px;
   }
   
